{% extends "shop/base.html" %}
{% load static %}
{% block title %}
	Корзина
{% endblock %}

{% block head %}
<style type="text/css">
.jumbotron{
  display: none;
}
select{
	font-size: 15px;
    display: block;
    width: inherit;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
</style>

{% endblock %}

{% block main %}
 <div id="content-scroll" class="album text-muted">
      <div class="container" >
        <div class="row">
 <h1>Корзина</h1>
 <table class="table">
 <thead>
 <tr>
 <th>Изображение</th>
 <th>Продукт</th>
 <th>Количество</th>
 <th>Удалить</th>
 <th>Цена за еденицу</th>
 <th>Цена</th>
 </tr>
 </thead>
 <tbody>
 {% for item in cart %}
 {% with product=item.product %}
 <tr>
 <td>
 <a href="{{ product.get_absolute_url }}">
 <img src="{{ product.img.url}}">
 </a>
 </td>
 <td>{{ product.name }}</td>
 <td>
 
<form action="{% url "cart:cart_add" product.id %}" method="post">
 {{ item.update_quantity_form.quantity }}
 {{ item.update_quantity_form.update }}
 <!--<input type="submit" value="Обновить">-->
 {% csrf_token %}
 </form>
</td>
 <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a></td>
 <td class="num">${{ item.price }}</td>
 <td class="num">${{ item.total_price }}</td>
 </tr>
 {% endwith %}
 {% endfor %}
 <tr class="total">
 <td>Всего</td>
 <td colspan="4"></td>
 <td class="num">${{ cart.get_total_price }}</td>
 </tr>
 </tbody>
 </table>
 <p class="text-right">
 <a href="{% url "shop:shop_list" %}" class="btn btn-secondary">Вернуться в каталог</a>
 <a href="#" class="btn btn-primary">Завершить покупку</a>
 </p>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
  $('td form select').on('change', function() {
    var $form = $(this).closest('form');
    $form.submit();
  });
});
</script>
{% endblock %}
