@import url("https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:300");
body{
	padding:0;
	margin: 0;
}
a{
	color: blue;
}
a:hover,a:focus{
	color: red;
}
button{
    color: black;
    background: transparent;
    display: block;
    text-align: center;
    border: 2px solid black;
    padding: 0.8rem 1rem;
    cursor: pointer;
    position: relative;
}
button:hover,button:focus{
	color: white;
	background: black;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0;

}
.header .header__title{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
	padding-top: 20px;
	padding-bottom: 20px;
}
.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: flex-start;

  width: 100%;

}
.grid .grid__item {
  width: 32%;
}
.container .container__section-name{
	font-family: 'Comfortaa', sans-serif;
	font-weight: bold;
}
.shop-item .shop-item__title{
	font-family: 'Comfortaa', sans-serif;
}
.shop-item .shop-item__description{
	font-family: 'Open Sans', sans-serif;
}