{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}Fetish Tea Shop{% endblock %}

{% block main %}
 <div class="album text-muted">
      <div class="container">

        <div class="row">
        	{% for item in items %}
          <div class="card">
            <img src="{{ item.img.url}}"  alt="Card image cap">
            <div class="card-block">
	            <h4 class="card-title">{{ item.name }}</h4>
	            <p class="card-text">{{ item.description }}</p>
	            <a href="#" class="btn btn-primary">Просмотреть</a>
	        </div>
          </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}