{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}Fetish Tea Shop{% endblock %}

{% block main %}
 <div class="album text-muted">
      <div class="container">

        <div class="card-group">
        	{% for item in items %}
          <div class="card col-sm-12 col-md-6 col-lg-4">
            <img class="card-img-top" src="{{ item.img.url}}"  alt="{{ item.name }}">
            <div class="card-block">
	            <h4 class="card-title">{{ item.name }}</h4>
	            <p class="card-text">{{ item.description }}</p>
	            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Просмотреть</a>
	        </div>
          </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}